body {
    font-family: "roboto", sans-serif;
    color: #2e2f42;
}
h1 {
    font-weight: 700;
    font-size: 56px;
    line-height: 107%;
    color: #ffffff;
}

h2 {
    font-weight: 700;
    font-size: 36px;
    line-height: 111%;
}

h3 {
    font-weight: 500;
    font-size: 20px;
    line-height: 120%;
}

p {
    font-weight: 400;
    font-size: 16px;
    line-height: 150%;
    color: #434455;
}

.link {
    color: #2e2f42;
}

.link:hover, .link:focus {
    color: #404bbf;
}

.link-logo {
    font-family: "Raleway", sans-serif;
    font-weight: 700;
    font-size: 18px;
    line-height: 117%;
    color: #f4f4fd;
}

.link-logo:hover, .link-logo:focus {
    font-family: "Raleway", sans-serif;
    font-weight: 700;
    font-size: 18px;
    line-height: 117%;
    color: #404bbf;
}
.section1 {
    background-color: #2e2f42;
}

.button {
    background-color: #4d5ae5;
    color: #ffffff;
}

.button:hover, .button:focus {
    background-color: #404bbf;
}

.section3 {
    background-color: #f4f4fd;
}

footer {
    background-color: #2e2f42;
}

.p-footer {
    color: #ffffff;
}

.webstudio {
    color: #404bbf;;
}

.studio {
    color: #2e2f42;
}

.stusio-footer {
    color: #ffffff;
}